@import "_mixins";
@import "_config";


 /* ==============================
 *	TYPOGRAPHY
 * ==============================
 */

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.802em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
.u-pageHome .u-lContent {
	margin-top: 1.5em;
}
strong {
	font-weight: $fontWeightRegular;
}
 .u-Masthead__siteName {
	padding: 0;
}
.u-Masthead__subhead {
    text-align: center;
}
.u-NavSite__level--1 .u-NavSite__item--isCurrent {
	font: $fontWeightBold 1.95em/1.1 $sans-serif;
	color: $linkColorVisited;
}
@media all and (min-width: $small) {

	.u-NavSite__itemContainer {
		padding: 0 0 .65em;
	}
	.u-NavSite__level--1 .u-NavSite__item--isCurrent {
		font: $fontWeightBold 1.1em/1.1 $sans-serif;
	}
}
@media all and (min-width: 73.75em) {
	.u-Masthead__siteName {
		font-size: 7em;
	}
}


/* ==============================
 *	LAYOUT
 * ==============================
 */

.u-BreadCrumbs,
.u-pageHome .u-pageTitle {
    display: none;
    visibility: hidden;
}
.u-lHeader {
    margin: 4em 15% .5em !important;
    padding: 0 0 2.5em !important;
    border-bottom: 1px solid $lightGreyPantone410;
}
.u-pageHome {
    .u-NavSite {
        margin: 2.5em 0 5.5em;
    }
}
.u-lMain, .u-lAside {
    width: 100%;
}
.u-lContent {
    padding: 0 5%;
    width: 100%;
}
.u-Video {
    margin-top: 0;
}
.u-ExtendedFooter__listGroup {
    padding: 2em 0 0;
}
.u-ExtendedFooter__listContainer {
    margin: 0 1em;
    padding: 0 1em 1em;
}
.u-ExtendedFooter__listGroup {
    margin-bottom: 2em;
}
 .SocialAccount__iconList {
    margin: 0 0 2em 0;
}
.SocialAccount__iconTarget {
    height: 2em;
    width: 2em;
}
@media all and (min-width: 43.75em) {
    .u-ExtendedFooter__listGroup {
 		justify-content: center;
    }
}
@media all and (min-width: $small) {
    .u-lMain {
		margin: 0;
		padding: 0 15% 5em 1.5em;
		width: 65%;
	}
    .u-NavSite {
		width: 35%;
		padding: 0 1.5em 0 15%;
		margin: 6.5em 0;
		border-right: 1px solid $lightGreyPantone410;
	}
    .u-lFooter {
        padding: 2em 3% 2em;
    }
}


/* ==============================
 *	COLOR
 * ==============================
 */
.u-lFooter {
	a {
		@include link-colors(#fff, $linkColorHoverFocus, $linkColorActive, #fff, $linkColorHoverFocus);
	}
}
.u-VCard--site {
    .u-VCard__item--contact {
        @include link-colors(#fff, $linkColorHoverFocus, $linkColorActive, #fff, $linkColorHoverFocus);
    }
}

.vassar_plaid {
	background-size: cover;
	background: #ebe9e8 url(../../../assets/images/about-mission-bg.png) repeat;
}

.vassar_stars {
    background:
    linear-gradient(324deg, #f8f7f7 4%,   transparent 4%) -70px 43px,
    linear-gradient( 36deg, #f8f7f7 4%,   transparent 4%) 30px 43px,
    linear-gradient( 72deg, #fff 8.5%, transparent 8.5%) 30px 43px,
    linear-gradient(288deg, #fff 8.5%, transparent 8.5%) -70px 43px,
    linear-gradient(216deg, #fff 7.5%, transparent 7.5%) -70px 23px,
    linear-gradient(144deg, #fff 7.5%, transparent 7.5%) 30px 23px,

    linear-gradient(324deg, #f8f7f7 4%,   transparent 4%) -20px 93px,
    linear-gradient( 36deg, #f8f7f7 4%,   transparent 4%) 80px 93px,
    linear-gradient( 72deg, #fff 8.5%, transparent 8.5%) 80px 93px,
    linear-gradient(288deg, #fff 8.5%, transparent 8.5%) -20px 93px,
    linear-gradient(216deg, #fff 7.5%, transparent 7.5%) -20px 73px,
    linear-gradient(144deg, #fff 7.5%, transparent 7.5%) 80px 73px;
    background-color: #f8f7f7;
    background-size: 100px 100px;
}

/* Specific Module Buildings and Belonging */
.Module__fullWidthFacts {
	.Module__subList {
		text-align: center;
		.Module__title {
			font-size: 1.5em;
			font-weight: $fontWeightBold;
    		padding-bottom: 0.5em;
		}
		.Module__desc {
			font-size: 1.5em;
			font-weight: $fontWeightBold;
		}	
	}
}
.pie .Module__header {
	text-align: center;
	font-size: 1.5em;
	font-weight: $fontWeightBold;
	padding-bottom: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	color: #aca3a0;
}
.Module__fullWidthTrustees {
	.Module__desc ul li strong {
		font-weight: $fontWeightBold;
	}
}
.Module__fullWidthDiversity {
	ul {
		margin-top: .5em;
		text-align: center;
		li {
			display: inline-block;
		}
		li:after {
			content: "|";
			margin-left: .5em;
		}
		li:last-child:after {
			content: "";
		}
	}
}
@media screen {
	.Module__fullWidthHistory {
		.Module__desc {
			padding-bottom: 50%;
		}
	}
	.Module__fullWidthFacts {
		.Module__subList {
			display: flex;
			flex-wrap: wrap;
			.Module__listItem {
				flex-grow: 1;
				padding: 0 2%;
			}		
		}
		.Module__listItem {
			text-align: center;
		}
	}
	.Module__fullWidthTrustees {
		.Module__desc ul {
			padding: 0 4%;
			text-align: center;
		}
	}
}
@media all and (min-width: $medium) {
	.Module__fullWidthTrustees {
		.Module__desc ul {
			column-count: 2;
			column-gap: 1em;
			max-width: 80em;
			margin-left: auto;
			margin-right: auto;
			text-align: left;
		}
	}
}
.Module__fullWidthFacts {
	.Module__subList {
		.Module__title {
    		border-bottom: .2em solid #e3e0df;
			color: #aca3a0;
		}
		.Module__desc {
			color: $linkColor;
		}
	}
}
.u-lHeader {
    background: #FFF url(../../../assets/images/about-header-bg.jpg) no-repeat top;
	background-size: cover;
}
.Module__fullWidthMission {
    @extend .vassar_plaid;
}
.Module__fullWidthHistory {
	background: #675a46 url(../../../assets/images/about-history-bg.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
}
.Module__fullWidthDiversity {
    @extend .vassar_stars;
}

.u-thirdLevel .u-lMain
{
    max-width: none;
}
